@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Barlow", sans-serif;
}

@media (max-width: 80rem) {
    .bg {
        animation: slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg, #333333 50%, #222222 50%);
        bottom: 0;
        left: -50%;
        opacity: 0.2;
        position: absolute;
        right: -50%;
        top: 0;
        z-index: -1;
    }

    .bg2 {
        animation-direction: alternate-reverse;
        animation-duration: 4s;
    }

    @keyframes slide {
        0% {
            transform: translateX(-25%);
        }
        100% {
            transform: translateX(25%);
        }
    }
}
@layer components {
    .hero-button {
        @apply uppercase px-4 py-3 text-xs text-light-secondary dark:text-gray-400 hover:border transition-all border-light-highlight dark:border-dark-highlight rounded-full;
    }
    .section-title {
        @apply absolute top-16 left-[50%] mb-4 transform -translate-x-1/2 uppercase tracking-[17.5px] text-3xl dark:text-gray-500 after:h-[1px] dark:after:bg-transparent after:bg-light-highlight after:absolute after:-bottom-3 after:left-[45%] after:transform after:-translate-x-[50%] after:w-[350px];
    }
    .contact_form-input {
        @apply border border-light-secondary dark:bg-dark-tertiary/50 dark:text-dark-secondary rounded-xl p-4 focus:text-light-highlight;
    }
}
